--
-- PostgreSQL database dump
--

\restrict JMgxxzYTUSPDpnlkB3EzsAFEHVshyO8TT7Tctx3DUCgmdvEgI25fG8aPN8rVcbx

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: drizzle; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA drizzle;


ALTER SCHEMA drizzle OWNER TO postgres;

--
-- Name: field_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.field_type_enum AS ENUM (
    'TEXT',
    'NUMBER',
    'EMAIL',
    'PASSWORD',
    'YES_NO'
);


ALTER TYPE public.field_type_enum OWNER TO postgres;

--
-- Name: form_visibility_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.form_visibility_enum AS ENUM (
    'DRAFT',
    'PUBLIC',
    'UNLISTED'
);


ALTER TYPE public.form_visibility_enum OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: __drizzle_migrations; Type: TABLE; Schema: drizzle; Owner: postgres
--

CREATE TABLE drizzle.__drizzle_migrations (
    id integer NOT NULL,
    hash text NOT NULL,
    created_at bigint
);


ALTER TABLE drizzle.__drizzle_migrations OWNER TO postgres;

--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE; Schema: drizzle; Owner: postgres
--

CREATE SEQUENCE drizzle.__drizzle_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE drizzle.__drizzle_migrations_id_seq OWNER TO postgres;

--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: drizzle; Owner: postgres
--

ALTER SEQUENCE drizzle.__drizzle_migrations_id_seq OWNED BY drizzle.__drizzle_migrations.id;


--
-- Name: form_submission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.form_submission (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    form_sub_id uuid,
    "values" json,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone
);


ALTER TABLE public.form_submission OWNER TO postgres;

--
-- Name: forms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.forms (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(80),
    description text,
    created_by uuid,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone,
    visibility public.form_visibility_enum DEFAULT 'DRAFT'::public.form_visibility_enum NOT NULL
);


ALTER TABLE public.forms OWNER TO postgres;

--
-- Name: forms_fields; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.forms_fields (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    form_id uuid,
    label character varying(100) NOT NULL,
    label_key character varying(100) NOT NULL,
    placeholder text,
    is_required boolean DEFAULT false NOT NULL,
    description text,
    index numeric NOT NULL,
    type public.field_type_enum NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone
);


ALTER TABLE public.forms_fields OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    full_name character varying(80) NOT NULL,
    email character varying(255) NOT NULL,
    email_verified boolean DEFAULT false,
    profile_image_url text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone,
    salt text,
    password text,
    verification_token text,
    verification_token_expiry timestamp without time zone,
    password_reset_token text,
    password_reset_expires_at timestamp without time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: __drizzle_migrations id; Type: DEFAULT; Schema: drizzle; Owner: postgres
--

ALTER TABLE ONLY drizzle.__drizzle_migrations ALTER COLUMN id SET DEFAULT nextval('drizzle.__drizzle_migrations_id_seq'::regclass);


--
-- Data for Name: __drizzle_migrations; Type: TABLE DATA; Schema: drizzle; Owner: postgres
--



--
-- Data for Name: form_submission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: forms; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: forms_fields; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE SET; Schema: drizzle; Owner: postgres
--

SELECT pg_catalog.setval('drizzle.__drizzle_migrations_id_seq', 10, true);


--
-- Name: __drizzle_migrations __drizzle_migrations_pkey; Type: CONSTRAINT; Schema: drizzle; Owner: postgres
--

ALTER TABLE ONLY drizzle.__drizzle_migrations
    ADD CONSTRAINT __drizzle_migrations_pkey PRIMARY KEY (id);


--
-- Name: form_submission form_submission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_submission
    ADD CONSTRAINT form_submission_pkey PRIMARY KEY (id);


--
-- Name: forms_fields forms_fields_form_id_index_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.forms_fields
    ADD CONSTRAINT forms_fields_form_id_index_unique UNIQUE (form_id, index);


--
-- Name: forms_fields forms_fields_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.forms_fields
    ADD CONSTRAINT forms_fields_pkey PRIMARY KEY (id);


--
-- Name: forms forms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.forms
    ADD CONSTRAINT forms_pkey PRIMARY KEY (id);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: form_submission form_submission_form_sub_id_forms_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_submission
    ADD CONSTRAINT form_submission_form_sub_id_forms_id_fk FOREIGN KEY (form_sub_id) REFERENCES public.forms(id);


--
-- Name: forms forms_created_by_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.forms
    ADD CONSTRAINT forms_created_by_users_id_fk FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: forms_fields forms_fields_form_id_forms_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.forms_fields
    ADD CONSTRAINT forms_fields_form_id_forms_id_fk FOREIGN KEY (form_id) REFERENCES public.forms(id);


--
-- PostgreSQL database dump complete
--

\unrestrict JMgxxzYTUSPDpnlkB3EzsAFEHVshyO8TT7Tctx3DUCgmdvEgI25fG8aPN8rVcbx

